{% extends 'base.html' %}

{% block title%}
About
{% endblock %}

{% block content%}
<div class="container text-center">
   
    <section class="background firstsection">
        <div class="container text-center">
            <div>
                <p class="text-big">About US</p>
    
                <p class="text-small">
                    Here you will get to know the team 
                    members of our company
                </p>
    
                <br>
                  
                <p class="text-small">
                    Carefully planning your healthcare website around the needs of your primary users will ensure that you will end up with a website that satisfy both your visitors needs and achieve your business objectives.</a>
                </p>
    
            </div>
        </div>
    </section>
</div>
{% load static %}
{% endblock %}



